   @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');
   
   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .quiz-wrapper{
        width: 100%;
        min-height: 100vh;
        padding: 15px;
        background-color: #ac3939;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .quiz-box{
        width: 750px;
        min-height: 400px;
        background-color: aliceblue;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 12px;
        border-radius: 50px;
    }

    .question-count{
        text-align: center;
        margin-top: 20px;
    }

    .question-count .count{
        font-size: 25px;
        font-weight: 800;
        color: #b30000;
    }

    .question-count .count span{
        color: #ff6f6f;
        font-size: 35px;
    }

    .question-count .question-title{
        font-size: 20px;
        font-weight: 600;
        color: #ca0000;
    }

    .question-box{
        margin-top: 20px;
        display: flex;
        gap: 15px;
        align-items: center;   
    }

    .question-box #question-number{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #ac3939;
        color: aliceblue;
        font-size: 20px;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        padding: 5px;
        text-align: center;

    }

    .question-box #question{
        font-size: 20px;
        font-weight: 500;
        background-color: aliceblue;
        color: #b30000;
        padding: 10px 15px;
        border-radius: 10px;
        box-shadow: rgb(147, 4, 4) 0px 4px 12px;
    }

    .box {
        font-size: 20px;
        background-color: aliceblue;
        color: #b30000;
        font-weight: 500;
        width: 100%;
        border: 1px solid rgb(126, 59, 59);
        padding: 10px 15px;
        margin: 10px 0;
        text-align: left;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s;
        box-shadow: rgb(147, 4, 4) 0px 4px 12px;
    }

    .box:hover:not([disabled]) {
        background-color:#ac3939;
        color: aliceblue;
    }

    .box:disabled{
        cursor: no-drop;
    }

    #next-question-btn{
        background-color: #ac3939;
        color: aliceblue;
        font-weight: 500;
        border: 0;
        padding: 13px 10px;
        margin: 10px auto 0;
        border-radius: 4px;
        cursor: pointer;
        text-align: left;
        font-size: 15px;
        display: none;
    }

    .correct{
        background: rgb(23, 61, 78);
    }

    .incorrect{
        background:rgb(116, 29, 29);
    }